[submodule "Volt/vendor/spdlog"]
	path = Volt/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Volt/vendor/GLFW"]
	path = Volt/vendor/GLFW
	url = https://github.com/glfw/glfw.git
	branch = latest
[submodule "Volt/vendor/ImGui"]
	path = Volt/vendor/ImGui
	url = https://github.com/ocornut/imgui
	branch = docking
